CompileFlags:
  Add: [
    -Iinclude,
    -Isys/unix,
    -Isys/windows,
    -Isys/share,
    -Iwin/tty,
    -Iwin/curses,
    -Iwin/share,
    -Isubmodules/lua,
    -Isubmodules/pdcursesmod,
    -include include/hack.h,
    -DNOTPARMDECL,
    -DDLB,
    -DSYSCF,
    -DSECURE,
    -DTIMED_DELAY,
    -DDUMPLOG,
    -DCONFIG_ERROR_SECURE=FALSE,
    -DSELF_RECOVER,
    -DNOSTATICFN,
    -DCURSES_GRAPHICS,
    -D_DEFAULT_SOURCE,
    -D_XOPEN_SOURCE=600,
    -D_CONSOLE,
    -DWIN32CON,
    -D_CRT_SECURE_NO_DEPRECATE,
    -D_CRT_NONSTDC_NO_DEPRECATE,
    -DHAS_STDINT_H,
    -DPDC_WIDE,
    -DPDC_RGB,
    -DCURSES_UNICODE,
  ]
Diagnostics:
  Suppress: [implicit-int, implicit-function-declaration]
